body{
  font-family: 'Times New Roman', Times, serif;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
} 
.desc p {
    color: #2f2f2f;
  }
  
.desc t {
    color: #34495e;
    font-weight: 700;
  }
  
.desc imp {
    padding: 6px;
    color: white;
    background: red;
  }
  
.desc more {
    color: #95a5a6;
  }
  .btn {
    background-color:red;
    color: white;
    border-width: 2px;
    font-weight: 400;
    font-size: .8571em;
    line-height: 1.35em;
    margin: 5px 1px;
    border: none;
    border-radius: .1875rem;
    padding: 11px 22px;
    cursor: pointer;
  }
  header{
    text-align: center;
    position: fixed;
    z-index: 50;
    width: 100%;
    background-color: transparent;
    transition: all 50ms ease-in-out;
  }
  .logo{
    color: white;
  }
  nav{
    position: absolute;
    text-align: left;
    top:100%;
    left: 0;
    width:100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
  }
  
  nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  nav li{
    margin-bottom: 1em;
    margin-left: 1em;
  }
  nav a{
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }
  nav a:hover{
    color: red;
    text-decoration: none;
  }
  .nav-toggle:checked ~ nav{
    transform: scale(1,1);
  }
  .nav-toggle{
    display: none;
  }
  .nav-toggle-label{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
   
  }
  
  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after{
    display: block;
    background: white;
    height: 2px;
    width:2em;
    border-radius: 2px;
    position: relative;
  }
  
  .nav-toggle-label span::before,
  .nav-toggle-label span::after{
    content: '';
    position: absolute;
  }
  
  .nav-toggle-label span::before{
    bottom: 7px;
  }
  .nav-toggle-label span::after{
    top: 7px;
  }
  
  .nav-toggle:checked ~nav a{
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }
  
@media screen and (min-width:800px){
    .nav-toggle-label{
      display: none;
    }
    header{
      display: grid;
      grid-template-columns: 1fr auto minmax(600px,3fr) 1fr;
    }
  
    .logo{
      grid-column: 2 / 3;
    }
    nav{
      all:unset;
      grid-column: 3/4;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    nav li{
      margin-left: 3em;
      margin-bottom: 0;
    }
    nav a{
      opacity: 1;
      position: relative;
    }
    nav a:hover{
      color: red;
    }
    nav ul{
      display: flex;
      justify-content: flex-end;
    }
  }

.click{
  background: black;
}
.desc {
    padding-top: 20px;
}
p {
    line-height: 28px;
    margin-bottom: 25px;
    margin: 0 0 10px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.page-header.page-header-small {
  height: 60vh;
  max-height: 440px;
  margin-top: 0px;
}
.profile-page .page-header {
  min-height: 550px;
}
.page-header {
  background:  linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.46));
}
.profile-page{
  background: url("/media/cv/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.page-header .page-header-image {
  position: absolute;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.page-header .container {
  z-index: 2;
}
.page-header .container {
  height: 100%;
  z-index: 1;
  text-align: center;
  position: relative;
}
.page-header .container>.content-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 15px;
  color: #FFFFFF;
  width: 100%;
  max-width: 880px;
}
.profile-page .title {
  text-align: center;
  margin-top: 30px;
}
.title {
  font-weight: 700;
}
h2, .h2 {
  font-size: 2.5em;
  margin-bottom: 30px;
}
.title+.category {
  margin-top: -25px;
}
.category {
  text-transform: uppercase;
  font-weight: 700;
  color: white;
}
.page-header .btn {
  width: 140px;
}
.cc-profile-image img {
  position: relative;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  padding: 0;
  margin: 0;
  border: 15px solid transparent;
  z-index: 9999;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

header.active { background: black}